{% extends 'base.twig' %}
{% block content %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                <img class="photo" src="/assets/img/facepalm_otter.jpg" alt="" />
                    <h1>
                        Une erreur est survenue !
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <p class="alert alert-danger text-center">
                    {% if error_type is same as('403') %}
                        Vous n'avez pas le droit d'accéder à cette ressource.
                    {% elseif error_type is same as('404') %}
                        La page demandée est introuvable.
                    {% else %}
                        {{ error_str }}
                    {% endif %}
                </p>

                <hr class="my-4" />

                <a class="row justify-content-center" href="/">
                    <button class="col-md-7 col-lg-7 col-xl-7 btn btn-primary">Retourner à l'accueil</button>
                </a>

            </div>
        </div>
    </div>
</main>

{% endblock %}
