{% extends 'base.twig' %}
{% block content %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>
                        {{title}}
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="mb-4">
<div class="container px-4 px-lg-5">
<div class="row gx-4 gx-lg-5 justify-content-center">

{% if session_username %}

    <form class="col-md-5 col-lg-7 col-xl-6" action="logout" method="post">
        <input class="form-control btn btn-danger" type="submit" value="Se déconnecter" />
    </form>
    
{% else %}

    {% if error_messages %}
        <div class="row justify-content-center">
        {% for errMsg in error_messages %}
            <div class="col-md-7 col-lg-7 col-xl-7 alert alert-danger text-center">
                {{ errMsg }}
            </div>
        {% endfor %}
        </div> 
    {% endif %}

    <div class="col-md-5 col-lg-4 col-xl-3">
        <!-- Login Form -->
        <form id="loginForm" action="/login" method="post" data-sb-form-api-token="">
            <div class="form-floating">
                <input class="form-control" id="email" name="email" type="email" placeholder="Votre email" data-sb-validations="required,email" />
                <label for="email">Email</label>
                <div class="invalid-feedback" data-sb-feedback="email:required">Veuillez renseigner votre email.</div>
                <div class="invalid-feedback" data-sb-feedback="email:email">Le format de l'email est invalide.</div>
            </div>
            <div class="form-floating">
                <input class="form-control" id="password" name="password" placeholder="Votre mot de passe" type="password" data-sb-validations="required" />
                <label for="password">Mot de passe</label>
                <div class="invalid-feedback" data-sb-feedback="password:required">Veuillez renseigner votre mot de passe.</div>
            </div>

            <br />
            <div class="d-none" id="submitSuccessMessage"></div>
            <div class="d-none" id="submitErrorMessage"></div>
            <button class="d-none" id="submitButton" type="submit"></button>
            <input type="submit" class="btn btn-primary text-uppercase" value='Se connecter'>
        </form>
        </div>

        <div class="col-md-5 col-lg-4 col-xl-3">
        <!-- Sign-up Form -->
        <form id="signupForm" action="/signup" method="post" data-sb-form-api-token="">
            <div class="form-floating">
                <input class="form-control" id="name-signup" name="name" placeholder="Votre pseudo" data-sb-validations="required" />
                <label for="name">Pseudonyme</label>
                <div class="invalid-feedback" data-sb-feedback="name-signup:required">Veuillez renseigner votre pseudonyme.</div>
            </div>
            <div class="form-floating">
                <input class="form-control" id="email-signup" name="email" type="email" placeholder="Votre email" data-sb-validations="required,email" />
                <label for="email">Email</label>
                <div class="invalid-feedback" data-sb-feedback="email-signup:required">Veuillez renseigner votre email.</div>
                <div class="invalid-feedback" data-sb-feedback="email-signup:email">Le format de l'email est invalide.</div>
            </div>
            <div class="form-floating">
                <input class="form-control" id="password-signup" name="password" placeholder="Votre mot de passe" type="password" data-sb-validations="required" />
                <label for="password">Mot de passe</label>
                <div class="invalid-feedback" data-sb-feedback="password-signup:required">Veuillez renseigner votre mot de passe.</div>
            </div>
            <div class="form-floating">
                <input class="form-control" id="password-signup-2" name="password-2" placeholder="Vérifiez votre mot de passe" type="password" data-sb-validations="required" />
                <label for="password">Vérifiez mot de passe</label>
                <div class="invalid-feedback" data-sb-feedback="password-signup-2:required">Veuillez réécrire votre mot de passe.</div>
            </div>

            <br />
            <div class="d-none" id="submitSuccessMessage"></div>
            <div class="d-none" id="submitErrorMessage"></div>
            <button class="d-none" id="submitButton" type="submit"></button>
            <input type="submit" class="btn btn-primary text-uppercase" value="S'enregistrer">
        </form>
        </div>

        </div>
    </div>
    <script src="/js/sb-forms.min.js"></script>
{% endif %}

</div>
</div>
</main>



{% endblock %}