<h1 class="mainTitle">Magnifique page d'accueil</h1>
<h2>G.G.O</h2>
<h3>[photo]</h3>
<h3>Catchphrase !</h3>

<form action="index.php?action=sendContactMsg" method="post">
    <div>
        <label for="name">Votre nom</label><br />
        <input type="text" id="name" name="name" />
    </div>
    <div>
        <label for="email">Votre email</label><br />
        <input type="text" id="email" name="email" />
    </div>
    <div>
        <label for="content">Contenu de votre message</label><br />
        <textarea id="content" name="content"></textarea>
    </div>
    <div>
        <input type="submit" />
    </div>
</form>

<h3><a href="#">CV here</a></h3>
<ul>
    <li><a href="#">LinkedIn</a></li>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Twitter</a></li>
</ul>
