.error {
    text-align: center;
    background-color: rgba(255, 0, 0, 0.379);
}

.photo {
    padding: 0;
    margin: 0;
    width: 300px;
    height: 300px;
    
    border-radius: 50%;
}

.post {
    background-color: rgba(127, 255, 212, 0.278);
}